@font-face {
  font-family: 'Stack Sans Text';
  src: url('./fonts/StackSansText-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Stack Sans Text';
  src: url('./fonts/StackSansText-Medium.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Stack Sans Text';
  src: url('./fonts/StackSansText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stack Sans Text';
  src: url('./fonts/StackSansText-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Stack Sans Text';
  src: url('./fonts/StackSansText-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@import "tailwindcss";

@layer base {
  body{
    font-family: 'stack sans text', sans-serif;
  }
}