@font-face {
  font-family: 'Stack Sans Text';
  src: url('./fonts/StackSansText-Medium.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Stack Sans Text';
  src: url('./fonts/StackSansText-Bold.woff2') format('woff');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'Stack Sans Text';
  src: url('./fonts/StackSansText-SemiBold.woff2') format('woff');
  font-weight: 600;
  font-style: semibold;
}
@font-face {
  font-family: 'Stack Sans Text';
  src: url('./fonts/StackSansText-Regular.woff2') format('woff');
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: 'Stack Sans Text';
  src: url('./fonts/StackSansText-ExtraLight.woff2') format('woff');
  font-weight: 200;
  font-style: extralight;
}

@import "tailwindcss";